.DS_Store

*.ts
*.log
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.prettierrc
.releaserc
.nycrc.json
*.lcov
yarn.lock
mocha.opts

.env.*

.nyc_output/
.github/

!*.d.ts

typings/
node_modules/
src/
spec/
test/
.vscode/
coverage/
