{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 80,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5"
}
